@model YandS.UI.Models.ApplicationRole
@{if (Model.Users.Count == 0)
    {
        <h2><font color="red">No Associated Users...</font></h2>
        <br />
    }
    else
    {
        <table id="UserTable" style="width: 800px">
            <thead>
            <th style="width:90%">
                User
            </th>
            <th>
                Action
            </th>
            </thead>
            @foreach (var user in Model.Users.OrderBy(u => u.UserId))
            {
                <tr>
                    <td>
                        @Html.ActionLink(user.UserId.ToString(), "UserDetails", new { id = user.UserId })
                    </td>
                    <td>
                        <center>
                            <a href="@Url.Action("DeleteUser", "Admin", new { id = Model.Id, userId = user.UserId })" class="deleteUser" id=@Model.Id userid=@user.UserId>
                                <img src="@Url.Content("~/Content/images/bin.png")" />
                            </a>
                        </center>
                    </td>
                </tr>
            }
        </table>
        <br />
    }}

@section pagespecific {
    <script type="text/javascript">
    $(document).ready(function () {
        //Unbind the original image 'href' set by the controller...
        $('.deleteUser').attr('href', 'javascript://');
        $('.deleteUser').click(function () {
            $dialog.data('id', $(this).attr('id')).data('userId', $(this).attr('userId')).dialog("open");
        });

        var $dialog = $('<div/>')
		.html("This User will be removed from the selected Role.<br/><br/>Do you wish to continue?")
		.dialog({
		    autoOpen: false,
		    resizable: false,
		    height: 200,
		    modal: true,
		    title: 'Remove Role',
		    buttons: [
                        {
                            text: "Continue",
                            id: "continuebtn",
                            click: function () {
                                var _userId = $(this).data('userId');
                                var _id = $(this).data('id');

                                var _parameters = { userId: _userId, id: _id };
                                $.ajax({
                                    url: "/Admin/DeleteUserFromRoleReturnPartialView",
                                    type: "GET",
                                    data: _parameters,
                                    success: function (data, textStatus, jqXHR) {
                                        $('#UsersTable').html(data);
                                    }
                                });
                                $(this).dialog('close');
                            }
                        },
                        {
                            text: "Cancel",
                            id: "cancelbtn",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }]
		});
    });
    </script>
}