<div id="AddNewFileInAfterJudgementBanner" class="card AppHidden">
    <div style="padding-bottom:0px;padding-top:10px;" class="card-header CaseInformationBar">
        <div class="row">
            <div class="col">
                <h3>
                    <span id="OFB_ClientName"></span>
                    <span class="YandSTitleSpacing2">-</span>
                    <span id="OFB_Defendant"></span>
                </h3>
            </div>
            <div class="col-1">
                <h3>
                    <span id="OFB_OfficeFileNo"></span>
                </h3>
            </div>
            <div class="col" dir="rtl">
                <h3 style="float:right">
                    <span id="OFB_SessionRollClientName"></span>
                    <span class="YandSTitleSpacing2">-</span>
                    <span id="OFB_SessionRollDefendentName"></span>
                </h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="DIV_RECORD_EXISTS_BANNER" class="card-header GeneralActive AppHidden">
            <div class="row">
                <div class="col-12 text-center">
                    <h3><span id="SPAN_RECORD_EXISTS_MESSAGE"></span></h3>

                </div>
            </div>
        </div>
        <div style="padding-bottom:0px;padding-top:10px;" class="col-12">
            <div class="text-center">
                <button type="button" onclick="CreateNewAfterJudgement()" class="btn btn-info clsaddNewFile AppHidden">
                    A NEW ADDITION
                </button>
                <button type="button" onclick="CancelSession()" class="btn btn-danger">
                    CANCEL
                </button>
                <button type="button" onclick="GoToSession()" class="btn btn-warning clsGoToSession AppHidden">
                    GO انتقال إلى الملف
                </button>
            </div>
        </div>
    </div>
</div>