<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YandS Legal Firm - Since 2010</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../../Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../Content/dist/css/adminlte.min.css">

    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Cairo';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/cairo/v20/SLXVc1nY6HkvangtZmpcWmhzfH5lWWgcQyyS4J0.woff2) format('woff2');
            unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
        }
    </style>
    <link rel="stylesheet" href="../../Content/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../../Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="../../Content/plugins/datatables-select/css/select.bootstrap4.min.css">
    <link rel="stylesheet" href="../../Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="../../Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../Content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../Content/dist/js/demo.js"></script>
    <!-- DataTable -->
    <script src="../../Content/plugins/moment/moment.min.js"></script>
    <script src="../../Content/plugins/select2/js/select2.full.min.js"></script>
    <script src="../../Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="../../Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="../../Content/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="../../Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../Content/plugins/jszip/jszip.min.js"></script>
    <script src="../../Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="../../scripts/CommonForAll/jquery-blockUI.js"></script>
    <script src="../../scripts/CommonForAll/jquery-jtemplates.js"></script>
    <script src="../../Content/CommonScript.js"></script>
    <script src="../../Content/scrolls.js"></script>
    <script src="../../Content/CommonFunction.js"></script>
</head>
<body>
    @RenderBody()
</body>
