<script type="text/javascript">
    var table;
    $(document).ready(function () {
        if (typeof table != 'undefined')
            table.destroy();

        table = $('#HtmlTable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "pageLength": 99999,
            "lengthMenu": [[5, 10, 25, 50, 100, 99999], [5, 10, 25, 50, 100, 'ALL']],
            "ajax": {
                "url": GetIndexDataURL,
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.DataTableName = "APPEAL";
                    d.LocationId = $('#txtUserRole').val() == "VoucherApproval" ? $('input[name="rdoLocation"]:checked').val() : $('#txtLocationId').val();
                }
            },
            "columns": [
                { data: 'OfficeFileNo', name: 'OfficeFileNo', autoWidth: false },
                { data: 'ClientName', name: 'ClientName', autoWidth: false },
                { data: 'DefClientName', name: 'DefClientName', autoWidth: false },
                { data: 'COURT', name: 'COURT', autoWidth: false },
                { data: 'CourtRefNo', name: 'CourtRefNo', autoWidth: false, render: function (data) { if (data) return data.split("^ ").join("<br/>"); else return ""; } },
                { data: 'AccountContractNo', name: 'AccountContractNo', autoWidth: false, render: function (data, type, row) { return FormatAccount_ClientFileNo(row); } },
                { data: 'FileStatusName', name: 'FileStatusName', autoWidth: false },
                { data: 'CurrentHearingDate', name: 'CurrentHearingDate', autoWidth: false },
                { data: 'CourtDecision', name: 'CourtDecision', autoWidth: true },
                { data: 'NextHearingDate', name: 'NextHearingDate', autoWidth: false },
                {
                    data: null,
                    render: function (data, type, row) {
                        if (type === 'display') {
                            console.log(data);
                            console.log(data.CaseLevelCode);
                            console.log(data.CaseStatus);

                            if (data.CaseStatus == "2") {
                                if ($("#txtUserRole").val() == "AllowCloseCase") {
                                    return '<a style="background-color: #686868 !important;color: white !important;" class="btn btn-sm" title="" href="/CourtCases/FileClosure?CaseId=' + row.CaseId + '" id="' + row.CaseId + '" data-original-title="FILE OPEN"><strong>FILE OPEN</strong></a>';
                                }
                                else {
                                    return null;
                                }
                            }
                            else {
                                if (data.CaseStatus == "1" && data.CaseLevelCode == "7") {
                                    if ($("#txtUserRole").val() == "AllowCloseCase") {
                                        return '<a style="background-color: #686868 !important;color: white !important;" class="btn btn-sm" title="" href="/CourtCases/FileClosure?CaseId=' + row.CaseId + '" id="' + row.CaseId + '" data-original-title="FILE OPEN"><strong>FILE OPEN</strong></a>';
                                    }
                                    else {
                                        return null;
                                    }
                                }
                                else
                                    return '<a class="btn btn-info btn-sm" title="" href="/CourtCases/ManageCourtDetail?CaseId=' + row.CaseId + '&amp;Courtid=2" id="' + row.CaseId + '" data-original-title="Apeal Court Management"><i class="fas fa-pencil-alt"></i></a>';
                                    //return '<a style="color: black !important;" class="btn btn-sm btnLink" title="Modify and Add Case Details" id="E_' + row.CaseId + '" href="javascript:void(0)" ><i class="fas fa-edit"></i></a> <a style="background-color: #b8d8a0 !important;color: black !important;" class="btn btn-sm" title="BEFORE COURT INFORMATION" href="/CourtCases/BeforeCourt?CaseId=' + row.CaseId + '" id="' + row.CaseId + '" ><strong>B</strong></a> <a style="background-color: #ffff8b !important;color: black !important;" class="btn btn-sm" title="Primary Court Management" href="/CourtCases/ManageCourtDetail?CaseId=' + row.CaseId + '&Courtid=1"><strong>P</strong></a> <a style="background-color:#f4b183 !important;color: black !important;" class="btn btn-sm" title="" href="/CourtCases/ManageCourtDetail?CaseId=' + row.CaseId + '&amp;Courtid=2" id="' + row.CaseId + '" data-original-title="Apeal Court Management"><strong>A</strong></a> <a style="background-color: #cc99ff !important;color: black !important;" class="btn btn-sm" title="" href="/CourtCases/ManageCourtDetail?CaseId=' + row.CaseId + '&amp;Courtid=3" id="' + row.CaseId + '" data-original-title="Supreme Court Management"><strong>S</strong></a> <a style="background-color: #69d8ff !important;color: black !important;" class="btn btn-sm btnLink" title="" id="M_' + row.CaseId + '" href="javascript:void(0)" data-original-title="Enforcement Management"><strong>E</strong></a>'; // <a style="background-color: #686868 !important;color: white !important;" class="btn btn-sm" title="" href="/CourtCases/FileClosure?CaseId=' + row.CaseId + '" id="' + row.CaseId + '" data-original-title="FILE CLOSURE"><strong>C</strong></a>
                            }
                            //style="background-color: #8064A2 !important;"btn-secondary
                            // <a style="background-color: #f2f2f2 !important; color: black !important;" class="btn btn-sm" title="TO BE REGISTER" href="/CourtCases/TobeReg?CaseId=' + row.CaseId + '" id="' + row.CaseId + '" ><strong>T</strong></a>   <a style="background-color: #fff2cc !important;color: black !important;" class="btn btn-sm" title="" href="/CourtCases/ManageEnforcementDetail?CaseId=' + row.CaseId + '" id="' + row.CaseId + '" data-original-title="SESSION ROLE"><strong>R</strong></a>
                        }
                        return data;
                    },
                    className: "project-actions text-right"
                }],
            "order": [],
            "columnDefs": [
                { 'orderable': false, 'targets': "_all" },
                { "className": "dt-center", "targets": "_all" },
                {
                    render: function (data, type, full, meta) {
                        if (data) {
                            return "<div class='text-wrap'>" + data + "</div>";
                        }
                        else
                            return "";
                    },
                    targets: [1, 2, 3, 4, 5, 6]
                },
                {
                    targets: 8, render: function (data) {
                        if (data) {
                            return "<div dir = 'auto' class='text-right text-wrap'>" + data.replace(/(\r\n|\n|\r)/g, "<br />"); +"</div>";
                        }
                        else
                            return "";
                    }
                },
                {
                    render: function (data) {
                        if (data)
                            return moment(data).format('DD/MM/YYYY');
                        else
                            return "";
                    },
                    targets: [7, 9]
                }
            ],
            "createdRow": function (row, data, dataIndex) {
                var rowColor = "";
                
               // $(row).addClass(rowColor);
            },
            initComplete: function () {
                console.log("DataTable Initiated !!");
                $('.btn').bstooltip();

                var info = table.page.info();

                var MCTRecords = table.ajax.json().MuscatTotal;
                var SLLRecords = table.ajax.json().SalalahTotal;
                var recordsTotal = table.ajax.json().recordsTotal;



                console.log("MUSCAT TOTAL " + MCTRecords);
                console.log("SALALAH TOTAL " + SLLRecords);
                //$('#TTL').text(recordsTotal);

                if ($("#txtUserRole").val() == "VoucherApproval") {
                    $('#MCTTTL').text("MUSCAT : " + MCTRecords);
                    $('#SLLTTL').text("SALALAH : " + SLLRecords);
                    $('#TTL').text(recordsTotal);
                }
                //else {
                //    if ($('#txtLocationId').val() == "M")
                //        $('#MCTTTL').text("MUSCAT : " + MCTRecords);
                //    else
                //        $('#MCTTTL').text("SALALAH : " + SLLRecords);
                //}

                $(".dataTables_filter input")
                    .unbind() // Unbind previous default bindings
                    .bind("keyup", function (e) { // Bind our desired behavior
                        //console.log(e.keyCode);
                        // this.value.length >= 3 || If the length is 3 or more characters, or the user pressed ENTER, search
                        if (e.keyCode == 13) {
                            // Call the API search function
                            table.search(this.value).draw();
                        }
                        // Ensure we clear the search if they backspace far enough
                        if (this.value == "") {
                            table.search("").draw();
                        }
                        return;
                    });
            }
        });

        $('.table tbody').on('click', '.btnLink', function () {
            var _Mode = this.id.split('_')[0];
            var _id = parseInt(this.id.split('_')[1]);

            var data = table.row($(this).parents('tr')).data();

            console.log(data);
            console.log(_id);
            console.log(data.CaseId);

            processbtnLinkClick(_Mode, data);
            return false;
        });
    });
</script>
<div style="padding-bottom:0px;padding-top:10px;" class="row AppealActive">
    <div class="col-sm-3 text-left"><h3><span id="MCTTTL"></span></h3></div>
    <div class="col-sm-6 text-center"><h3>APPEAL</h3></div>
    <div class="col-sm-3 text-right"><h3><span id="SLLTTL"></span></h3></div>
</div>
<div style="padding-bottom:0px;padding-top:10px;" class="row AppealActive">
    <div class="col-sm-12 text-center"><h3><span id="TTL"></span></h3></div>
</div>
<div class="row">
    <div style="padding-bottom:0px;padding-top:10px;" class="col-sm-12">

        <table id="HtmlTable" class="table table-bordered table-striped dataTable dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th style="width:35px !important;" class="all VMiddle text-center">FILE<br />NO.</th>
                    <th style="width:150px !important;" class="VMiddle text-center">CLIENT NAME</th>
                    <th style="width:150px !important;" class="VMiddle text-center">DEFENDANT /<br />PLAINTIFF NAME</th>
                    <th style="width:80px !important;" class="VMiddle text-center">COURT</th>
                    <th style="width:80px !important;" class="VMiddle text-center">CASE NO</th>
                    <th style="width:200px !important;" class="VMiddle text-center">CLIENT REF</th>
                    <th style="width:150px !important;" class="VMiddle text-center">FILE STATUS</th>
                    <th style="width:50px !important;" class="VMiddle text-center">UPDATE DATE<br />تاريخ التحديث</th>
                    <th class="VMiddle text-center">COURT DECISION<br />قرار المحكمة</th>
                    <th style="width:50px !important;" class="VMiddle text-center">NEXT HEARING DATE<br />موعد الجلسة القادمة</th>
                    <th style="width:15px !important;" class="all"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
