<script type="text/javascript">
    var table;
    var dataForTable = "ENF-ARREQ";
    function LoadResultTable() {
        if (typeof table != 'undefined')
            table.destroy();

        table = $('#HtmlTable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "pageLength": 99999,
            dom: "<'row'<'col-sm-1'l><'col-sm-1 text-right'B><'col-sm-10 text-right'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excel',
                    title: 'ARREST REQUST',
                    text: 'Print',
                    titleAttr: 'Export Excel',
                    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    exportOptions: { modifier: { page: 'all', search: 'none' } }
                }
            ],
            "lengthMenu": [[5, 10, 25, 50, 100, 99999], [5, 10, 25, 50, 100, 'ALL']],
            "ajax": {
                "url": GetIndexDataURL,
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.DataTableName = dataForTable;
                    d.LocationId = $('#txtUserRole').val() == "VoucherApproval" ? $('input[name="rdoLocation"]:checked').val() : $('#txtLocationId').val();
                    d.CallerName = $('#hidUserName').val();
                    d.EnfGovernorate = $('#ENF_SEARCH_GovernorateId').val();
                    d.EnfCourtLocation = $('#ENF_SEARCH_CourtLocationid').val();
                    d.EnfClientCode = $('#ENF_SEARCH_ClientCode').val();

                }
            },
            "columns": [
                { data: 'AnotherDaysCounter', name: 'AnotherDaysCounter', autoWidth: true },
                { data: 'OfficeFileNo', name: 'OfficeFileNo', autoWidth: true },
                { data: 'ClientName', name: 'ClientName', autoWidth: true },
                { data: 'DefClientName', name: 'DefClientName', autoWidth: true },
                { data: 'COURT', name: 'COURT', autoWidth: true },
                { data: 'CourtRefNo', name: 'CourtRefNo', autoWidth: true },
                { data: 'DaysCounter', name: 'DaysCounter', autoWidth: true },
                { data: 'CourtDecision', name: 'CourtDecision', autoWidth: true },
                {
                    data: null,
                    render: function (data, type, row) {
                        if (type === 'display') {

                            return '<a class="btn btn-info btn-sm btnLink" title="" id="M_' + row.CaseId + '" href="javascript:void(0)" data-original-title="Enforcement Management"><i class="fas fa-pencil-alt"></i></a>';
                        }
                        return data;
                    },
                    className: "project-actions text-right"
                }],
            "order": [],
            "columnDefs": [
                { 'orderable': false, 'targets': '_all' },
                { "className": "dt-center", "targets": "_all" },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap width-200'>" + data + "</div>";
                    },
                    targets: 2
                },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap width-200'>" + data + "</div>";
                    },
                    targets: 3
                },
                {
                    targets: 7, render: function (data) {
                        if (data) {
                            return "<div dir = 'auto' class='text-right text-wrap'>" + data.replace(/(\r\n|\n|\r)/g, "<br />"); +"</div>";
                        }
                        else
                            return "";
                    }
                }
            ],
            "drawCallback": function (settings) {
                //alert('DataTables has redrawn the table');

                $("#ENF_ModificationContainer").empty();
            },
            "createdRow": function (row, data, dataIndex) {
                var rowColor = GetdtClassName(dataForTable, data.AnotherDaysCounter);
                $(row).addClass(rowColor);

                //if (data.AnotherDaysCounter >= 50) {
                //    rowColor = "tblFirstCondition";
                //}
                //else {
                //    if (data.AnotherDaysCounter >= 30 && data.AnotherDaysCounter < 50) {
                //        rowColor = "tblSecondCondition";
                //    }
                //    else {
                //        if (data.AnotherDaysCounter >= 15 && data.AnotherDaysCounter < 30) {
                //            rowColor = "tblThirdCondition";
                //        }
                //    }
                //}

                //$(row).addClass(rowColor);
            },
            initComplete: function () {
                console.log("DataTable Initiated !!");
                $('.btn').bstooltip();

                var info = table.page.info();

                var MCTRecords = table.ajax.json().MuscatTotal;
                var SLLRecords = table.ajax.json().SalalahTotal;
                var recordsTotal = table.ajax.json().recordsTotal;



                console.log("MUSCAT TOTAL " + MCTRecords);
                console.log("SALALAH TOTAL " + SLLRecords);
                $('#TTL').text(recordsTotal);

                if ($("#txtUserRole").val() == "VoucherApproval") {
                    $('#MCTTTL').text("MUSCAT : " + MCTRecords);
                    $('#SLLTTL').text("SALALAH : " + SLLRecords);
                    //$('#TTL').text(recordsTotal);
                }
                //else {
                //    if ($('#txtLocationId').val() == "M")
                //        $('#MCTTTL').text("MUSCAT : " + MCTRecords);
                //    else
                //        $('#MCTTTL').text("SALALAH : " + SLLRecords);
                //}


                $(".dataTables_filter input")
                    .unbind() // Unbind previous default bindings
                    .bind("keyup", function (e) { // Bind our desired behavior
                        //console.log(e.keyCode);
                        // this.value.length >= 3 || If the length is 3 or more characters, or the user pressed ENTER, search
                        if (e.keyCode == 13) {
                            // Call the API search function
                            table.search(this.value).draw();
                        }
                        // Ensure we clear the search if they backspace far enough
                        if (this.value == "") {
                            table.search("").draw();
                        }
                        return;
                    });
            }
        });

        $('.table tbody').on('click', '.btnLink', function () {
            var _Mode = this.id.split('_')[0];
            var _id = parseInt(this.id.split('_')[1]);

            var data = table.row($(this).parents('tr')).data();

            console.log(data);
            console.log(_id);
            console.log(data.CaseId);

            processbtnLinkClick(_Mode, data);
            return false;
        });

    }
    $(document).ready(function () {
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $('#btnPrintResult').on("click", function () {
            LoadResultTable();
        });

        LoadResultTable();
    });
</script>
@model YandS.UI.Models.ToBeRegisterVM
<div style="padding-bottom:0px;padding-top:10px;" class="row ArrestRequstActive">
    <div class="col-sm-3 text-left"><h3><span id="MCTTTL"></span></h3></div>
    <div class="col-sm-6 text-center"><h3>ARREST APPLICATION تقدمنا بإصدار أمر حبس</h3></div>
    <div class="col-sm-3 text-right"><h3><span id="SLLTTL"></span></h3></div>
</div>
<div style="padding-bottom:0px;padding-top:10px;" class="row ArrestRequstActive">
    <div class="col-sm-12 text-center"><h3><span id="TTL"></span></h3></div>
</div>
@Html.Partial("_EnfCommonSearch", Model)
<div class="row">
    <div style="padding-bottom:0px;padding-top:10px;" class="col-sm-12">

        <table id="HtmlTable" class="table table-bordered dataTable dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th style="width:50px !important" class="all VMiddle text-center">D.C ACTION</th>
                    <th style="width:50px !important" class="all VMiddle text-center">FILE NO.</th>
                    <th class="VMiddle text-center">CLIENT NAME</th>
                    <th class="VMiddle text-center">NAME</th>
                    <th class="VMiddle text-center">COURT</th>
                    <th class="VMiddle text-center">ENFC NO.</th>
                    <th class="VMiddle text-center">D.C UPDATE</th>
                    <th class="all VMiddle text-center">UPDATE</th>
                    <th style="width:30px !important" class="all"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
