<script type="text/javascript">
    var table;
    var table2;
    var dataForTable = "ENF-DEFTRANS";
    var dataForTable2 = "ENF-DEFTRANS2";
    $(document).ready(function () {
        if (typeof table != 'undefined')
            table.destroy();

        table = $('#HtmlTable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "pageLength": 99999,
            dom: "<'row'<'col-sm-1'l><'col-sm-1 text-right'B><'col-sm-10 text-right'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excel',
                    title: 'MONEY TRANSFER FROM COURT طلب تحويل من خزانة المحكمة',
                    text: 'Print',
                    titleAttr: 'Export Excel',
                    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    exportOptions: { modifier: { page: 'all', search: 'none' } }
                }
            ],
            "lengthMenu": [[5, 10, 25, 50, 100, 99999], [5, 10, 25, 50, 100, 'ALL']],
            "ajax": {
                "url": GetIndexDataURL,
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.DataTableName = dataForTable;
                    d.LocationId = $('#txtUserRole').val() == "VoucherApproval" ? $('input[name="rdoLocation"]:checked').val() : $('#txtLocationId').val();
                }
            },
            "columns": [
                { data: 'OfficeFileNo', name: 'OfficeFileNo', autoWidth: true },
                { data: 'ClientName', name: 'ClientName', autoWidth: true },
                { data: 'DefClientName', name: 'DefClientName', autoWidth: true },
                //{ data: 'CurrentEnforcementLevel', name: 'CurrentEnforcementLevel', autoWidth: false },
                { data: 'COURT', name: 'COURT', autoWidth: true },
                { data: 'CourtRefNo', name: 'CourtRefNo', autoWidth: true },
                { data: 'MoneyTrRequestDate', name: 'MoneyTrRequestDate', autoWidth: true },
                { data: 'TransferDate', name: 'TransferDate', autoWidth: true },
                { data: 'DaysCounter', name: 'DaysCounter', autoWidth: true },
                //{ data: 'CourtDecision', name: 'CourtDecision', autoWidth: true },
                {
                    data: null,
                    render: function (data, type, row) {
                        if (type === 'display') {

                            return '<a class="btn btn-info btn-sm btnLink" title="" id="M_' + row.CaseId + '" href="javascript:void(0)" data-original-title="Enforcement Management"><i class="fas fa-pencil-alt"></i></a>';
                        }
                        return data;
                    },
                    className: "project-actions text-right"
                }],
            "order": [],
            "columnDefs": [
                { 'orderable': false, 'targets': '_all' },
                { "className": "dt-center", "targets": "_all" },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap'>" + data + "</div>";
                    },
                    targets: 1
                },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap'>" + data + "</div>";
                    },
                    targets: 2
                },
                {
                    render: function (data) {
                        if (data)
                            return moment(data).format('DD/MM/YYYY');
                        else
                            return "";
                    },
                    targets: 6
                },
                {
                    render: function (data) {
                        if (data)
                            return moment(data).format('DD/MM/YYYY');
                        else
                            return "";
                    },
                    targets: 5
                }
            ],
            "drawCallback": function (settings) {
                //alert('DataTables has redrawn the table');

                $("#ENF_ModificationContainer").empty();
            },
            "createdRow": function (row, data, dataIndex) {
                var rowColor = "";

                if (data.DaysCounter > 0) {
                    rowColor = "tblDefTransCondition";
                }

                //if (data.ToBeRegisterDays >= 90) {
                //    rowColor = "tblFirstCondition";
                //}
                //else {
                //    if (data.ToBeRegisterDays >= 60 && data.ToBeRegisterDays < 90) {
                //        rowColor = "tblSecondCondition";
                //    }
                //    else {
                //        if (data.ToBeRegisterDays >= 30 && data.ToBeRegisterDays < 60) {
                //            rowColor = "tblThirdCondition";
                //        }
                //    }
                //}

                $(row).addClass(rowColor);
            },
            initComplete: function () {
                console.log("DataTable Initiated !!");
                $('.btn').bstooltip();

                var info = table.page.info();

                var MCTRecords = table.ajax.json().MuscatTotal;
                var SLLRecords = table.ajax.json().SalalahTotal;
                var recordsTotal = table.ajax.json().recordsTotal;



                console.log("MUSCAT TOTAL " + MCTRecords);
                console.log("SALALAH TOTAL " + SLLRecords);
                $('#TTL').text(recordsTotal);

                if ($("#txtUserRole").val() == "VoucherApproval") {
                    $('#MCTTTL').text("MUSCAT : " + MCTRecords);
                    $('#SLLTTL').text("SALALAH : " + SLLRecords);
                }
                //else {
                //    if ($('#txtLocationId').val() == "M")
                //        $('#MCTTTL').text("MUSCAT : " + MCTRecords);
                //    else
                //        $('#MCTTTL').text("SALALAH : " + SLLRecords);
                //}

                //$("#IndexENFORCEAppeal_filter.dataTables_filter input")

                $("#HtmlTable_filter.dataTables_filter input")
                    .unbind() // Unbind previous default bindings
                    .bind("keyup", function (e) { // Bind our desired behavior
                        //console.log(e.keyCode);
                        // this.value.length >= 3 || If the length is 3 or more characters, or the user pressed ENTER, search
                        if (e.keyCode == 13) {
                            // Call the API search function
                            table.search(this.value).draw();
                        }
                        // Ensure we clear the search if they backspace far enough
                        if (this.value == "") {
                            table.search("").draw();
                        }
                        return;
                    });
            }
        });

        if (typeof table2 != 'undefined')
            table2.destroy();

        table2 = $('#HtmlTable2').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "pageLength": 99999,
            dom: "<'row'<'col-sm-4'l><'col-sm-7 text-right'f><'col-sm-1 text-right'B>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excel',
                    title: 'TRANSFER COMPLETED الموكل استلم التحويل',
                    text: 'Print',
                    className: 'btn-pink-moon',
                    titleAttr: 'Export Excel',
                    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    exportOptions: { modifier: { page: 'all', search: 'none' } }
                }
            ],
            "lengthMenu": [[5, 10, 25, 50, 100, 99999], [5, 10, 25, 50, 100, 'ALL']],
            "ajax": {
                "url": GetIndexDataURL,
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.DataTableName = dataForTable2;
                    d.LocationId = $('#txtUserRole').val() == "VoucherApproval" ? $('input[name="rdoLocation"]:checked').val() : $('#txtLocationId').val();
                }
            },
            "columns": [
                { data: 'OfficeFileNo', name: 'OfficeFileNo', autoWidth: true },
                { data: 'ClientName', name: 'ClientName', autoWidth: true },
                { data: 'DefClientName', name: 'DefClientName', autoWidth: true },
                { data: 'COURT', name: 'COURT', autoWidth: true },
                { data: 'CourtRefNo', name: 'CourtRefNo', autoWidth: true },
                { data: 'MoneyWithName', name: 'MoneyWithName', autoWidth: true },
                { data: 'TransferDate', name: 'TransferDate', autoWidth: true },
                { data: 'MoneyTrCompleteDate', name: 'MoneyTrCompleteDate', autoWidth: true },
                { data: 'Amount', name: 'Amount', autoWidth: true }
            ],
            "order": [],
            "columnDefs": [
                { 'orderable': false, 'targets': '_all' },
                { "className": "dt-center", "targets": "_all" },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap'>" + data + "</div>";
                    },
                    targets: 1
                },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap'>" + data + "</div>";
                    },
                    targets: 2
                },
                {
                    render: function (data) {
                        if (data)
                            return moment(data).format('DD/MM/YYYY');
                        else
                            return "";
                    },
                    targets: 6
                },
                {
                    render: function (data) {
                        if (data)
                            return moment(data).format('DD/MM/YYYY');
                        else
                            return "";
                    },
                    targets: 7
                }
            ],
            //"createdRow": function (row, data, dataIndex) {
            //    var rowColor = "";

            //    if (data.ToBeRegisterDays >= 90) {
            //        rowColor = "tblFirstCondition";
            //    }
            //    else {
            //        if (data.ToBeRegisterDays >= 60 && data.ToBeRegisterDays < 90) {
            //            rowColor = "tblSecondCondition";
            //        }
            //        else {
            //            if (data.ToBeRegisterDays >= 30 && data.ToBeRegisterDays < 60) {
            //                rowColor = "tblThirdCondition";
            //            }
            //        }
            //    }

            //    $(row).addClass(rowColor);
            //},
            initComplete: function () {
                console.log("DataTable Initiated !!");
                $('.btn').bstooltip();

                var info = table2.page.info();

                var MCTRecords = table2.ajax.json().MuscatTotal;
                var SLLRecords = table2.ajax.json().SalalahTotal;
                var recordsTotal = table2.ajax.json().recordsTotal;



                $('#TTL2').text(recordsTotal);

                if ($("#txtUserRole").val() == "VoucherApproval") {
                    $('#MCTTTL2').text("MUSCAT : " + MCTRecords);
                    $('#SLLTTL2').text("SALALAH : " + SLLRecords);
                }
                

                $("#HtmlTable2_filter.dataTables_filter input")
                    .unbind() // Unbind previous default bindings
                    .bind("keyup", function (e) { // Bind our desired behavior
                        //console.log(e.keyCode);
                        // this.value.length >= 3 || If the length is 3 or more characters, or the user pressed ENTER, search
                        if (e.keyCode == 13) {
                            // Call the API search function
                            table2.search(this.value).draw();
                        }
                        // Ensure we clear the search if they backspace far enough
                        if (this.value == "") {
                            table2.search("").draw();
                        }
                        return;
                    });
            }
        });

        $('#HtmlTable.table tbody').on('click', '.btnLink', function () {
            var _Mode = this.id.split('_')[0];
            var _id = parseInt(this.id.split('_')[1]);

            var data = table.row($(this).parents('tr')).data();

            console.log(data);
            console.log(_id);
            console.log(data.CaseId);

            processbtnLinkClick(_Mode, data, dataForTable);
            return false;
        });
    });
</script>
<div style="padding-bottom:0px;padding-top:10px;" class="row DefendantTransferActive">
    <div class="col-sm-3 text-left"><h3><span id="MCTTTL"></span></h3></div>
    <div class="col-sm-6 text-center"><h3>MONEY TRANSFER FROM COURT طلب تحويل من خزانة المحكمة</h3></div>
    <div class="col-sm-3 text-right"><h3><span id="SLLTTL"></span></h3></div>
</div>
<div style="padding-bottom:0px;padding-top:10px;" class="row DefendantTransferActive">
    <div class="col-sm-12 text-center"><h3><span id="TTL"></span></h3></div>
</div>
<div class="row">
    <div style="padding-bottom:0px;padding-top:10px;" class="col-sm-12">

        <table id="HtmlTable" class="table table-bordered dataTable dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th style="width:50px !important" class="all VMiddle text-center">FILE NO.</th>
                    <th class="VMiddle text-center">CLIENT NAME</th>
                    <th class="VMiddle text-center">NAME</th>
                    @*<th class="VMiddle text-center">STAGE<br />المرحلة</th>*@
                    <th class="VMiddle text-center">COURT</th>
                    <th class="VMiddle text-center">ENFC NO.</th>
                    <th style="width:70px !important" class="VMiddle text-center">تاريخ الطلب<br />REQUEST DATE</th>
                    <th style="width:70px !important" class="VMiddle text-center">تاريخ تحويل المحكمة<br />COURT TRANSFER DATE</th>
                    <th style="width:50px !important" class="VMiddle text-center">D.C<br />UPDATE</th>
                    <th style="width:30px !important" class="all"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div style="padding-bottom:0px;padding-top:10px;" class="row DefendantTransferActive">
    <div class="col-sm-3 text-left"><h3><span id="MCTTTL2"></span></h3></div>
    <div class="col-sm-6 text-center"><h3>TRANSFER COMPLETED الموكل استلم التحويل</h3></div>
    <div class="col-sm-3 text-right"><h3><span id="SLLTTL2"></span></h3></div>
</div>
<div style="padding-bottom:0px;padding-top:10px;" class="row DefendantTransferActive">
    <div class="col-sm-12 text-center"><h3><span id="TTL2"></span></h3></div>
</div>
<div class="row">
    <div style="padding-bottom:0px;padding-top:10px;" class="col-sm-12">

        <table id="HtmlTable2" class="table table-bordered dataTable dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th style="width:50px !important" class="all VMiddle text-center">FILE NO.</th>
                    <th class="VMiddle text-center">CLIENT NAME</th>
                    <th class="VMiddle text-center">NAME</th>
                    <th class="VMiddle text-center">COURT</th>
                    <th class="VMiddle text-center">ENFC NO.</th>
                    <th style="width:70px !important" class="VMiddle text-center">المبلغ لدى<br />MONEY WITH</th>
                    <th style="width:70px !important" class="VMiddle text-center">تاريخ<br />تحويل المحكمة<br />COURT TRANSFER<br />DATE</th>
                    <th style="width:70px !important" class="VMiddle text-center">تاريخ استلام<br />الموكل للتحويل<br />TRANSFER<br />COMPLETED DATE</th>
                    <th style="width:50px !important" class="VMiddle text-center">AMOUNT</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>