<script type="text/javascript">
    var table;
    var dataForTable = "ENF-SUSPEND";
    function LoadResultTable() {
        if (typeof table != 'undefined')
            table.destroy();

        table = $('#HtmlTable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "pageLength": 99999,
            dom: "<'row'<'col-sm-1'l><'col-sm-1 text-right'B><'col-sm-10 text-right'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excel',
                    title: 'SUSPENDED',
                    text: 'Print',
                    titleAttr: 'Export Excel',
                    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    exportOptions: { modifier: { page: 'all', search: 'none' } }
                }
            ],
            "lengthMenu": [[5, 10, 25, 50, 100, 99999], [5, 10, 25, 50, 100, 'ALL']],
            "ajax": {
                "url": GetIndexDataURL,
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.DataTableName = "ENF-SUSPEND";
                    d.LocationId = $('#txtUserRole').val() == "VoucherApproval" ? $('input[name="rdoLocation"]:checked').val() : $('#txtLocationId').val();
                    d.DateFrom = $("#ContactDateFrom").val();
                    d.DateTo = $("#ContactDateTo").val();
                    d.CallerName = "";

                }
            },
            "columns": [
                { data: 'SuspensionEndDate', name: 'SuspensionEndDate', autoWidth: true },
                { data: 'DaysRemaining', name: 'DaysRemaining', autoWidth: true },
                { data: 'OfficeFileNo', name: 'OfficeFileNo', autoWidth: true },
                { data: 'ClientName', name: 'ClientName', autoWidth: true },
                { data: 'DefClientName', name: 'DefClientName', autoWidth: true },
                { data: 'COURT', name: 'COURT', autoWidth: true },
                { data: 'CourtRefNo', name: 'CourtRefNo', autoWidth: true },
                { data: 'SuspensionCause', name: 'SuspensionCause', autoWidth: true },
                { data: 'JUDDecision', name: 'JUDDecision', autoWidth: true },
                { data: 'DaysCounter', name: 'DaysCounter', autoWidth: true },
                { data: 'CourtDecision', name: 'CourtDecision', autoWidth: true },
                {
                    data: null,
                    render: function (data, type, row) {
                        if (type === 'display') {

                            return '<a class="btn btn-info btn-sm btnLink" title="" id="M_' + row.CaseId + '" href="javascript:void(0)" data-original-title="Enforcement Management"><i class="fas fa-pencil-alt"></i></a>';
                        }
                        return data;
                    },
                    className: "project-actions text-right"
                }],
            "order": [],
            "columnDefs": [
                { 'orderable': false, 'targets': '_all' },
                { "className": "dt-center", "targets": "_all" },
                {
                    render: function (data) {
                        if (data)
                            return moment(data).format('DD/MM/YYYY');
                        else
                            return "";
                    },
                    targets: 0
                },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap'>" + data + "</div>";
                    },
                    targets: 3
                },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap'>" + data + "</div>";
                    },
                    targets: 4
                },
                {
                    render: function (data, type, full, meta) {
                        if (data)
                            return "<div class='text-wrap'>" + data + "</div>";
                        else
                            return "";
                    },
                    targets: 7
                },
                {
                    render: function (data, type, full, meta) {
                        if (data)
                            return "<div class='text-wrap'>" + data + "</div>";
                        else
                            return "";
                    },
                    targets: 8
                },
                {
                    targets: 10, render: function (data) {
                        if (data) {
                            return "<div dir = 'auto' class='text-right text-wrap'>" + data.replace(/(\r\n|\n|\r)/g, "<br />"); +"</div>";
                        }
                        else
                            return "";
                    }
                }
            ],
            "drawCallback": function (settings) {
                //alert('DataTables has redrawn the table');

                $("#ENF_ModificationContainer").empty();
            },
            "createdRow": function (row, data, dataIndex) {
                var rowColor = "";

                if (data.CourtApproval == "Y") {
                    rowColor = "";
                }
                else {
                    if (data.PausedDays >= 5 && data.CourtApproval == "N") {
                        rowColor = "tblPausedCondition";
                    }
                    else {
                        if (data.ToBeRegisterDays <= -40) {
                            rowColor = "tblFirstCondition";
                        }
                        else {
                            if (data.ToBeRegisterDays <= 1 && data.ToBeRegisterDays >= -39) {
                                rowColor = "tblSecondCondition";
                            }
                            else {
                                if (data.ToBeRegisterDays > 1 && data.ToBeRegisterDays <= 7) {
                                    rowColor = "tblThirdCondition";
                                }
                            }
                        }
                    }
                }

                $(row).addClass(rowColor);
            },
            initComplete: function () {
                console.log("DataTable Initiated !!");
                $('.btn').bstooltip();

                //$('.buttons-excel').removeClass('text-sm btn btn-secondary');
                //$('.buttons-excel > span').addClass('btn-text-med');

                var info = table.page.info();

                var MCTRecords = table.ajax.json().MuscatTotal;
                var SLLRecords = table.ajax.json().SalalahTotal;
                var recordsTotal = table.ajax.json().recordsTotal;



                console.log("MUSCAT TOTAL " + MCTRecords);
                console.log("SALALAH TOTAL " + SLLRecords);
                $('#TTL').text(recordsTotal);

                if ($("#txtUserRole").val() == "VoucherApproval") {
                    $('#MCTTTL').text("MUSCAT : " + MCTRecords);
                    $('#SLLTTL').text("SALALAH : " + SLLRecords);
                    //$('#TTL').text(recordsTotal);
                }
                //else {
                //    if ($('#txtLocationId').val() == "M")
                //        $('#MCTTTL').text("MUSCAT : " + MCTRecords);
                //    else
                //        $('#MCTTTL').text("SALALAH : " + SLLRecords);
                //}


                $(".dataTables_filter input")
                    .unbind() // Unbind previous default bindings
                    .bind("keyup", function (e) { // Bind our desired behavior
                        //console.log(e.keyCode);
                        // this.value.length >= 3 || If the length is 3 or more characters, or the user pressed ENTER, search
                        if (e.keyCode == 13) {
                            // Call the API search function
                            table.search(this.value).draw();
                        }
                        // Ensure we clear the search if they backspace far enough
                        if (this.value == "") {
                            table.search("").draw();
                        }
                        return;
                    });
            }
        });

        $('.table tbody').on('click', '.btnLink', function () {
            var _Mode = this.id.split('_')[0];
            var _id = parseInt(this.id.split('_')[1]);

            var data = table.row($(this).parents('tr')).data();

            console.log(data);
            console.log(_id);
            console.log(data.CaseId);

            processbtnLinkClick(_Mode, data, "SUSPENDED");
            return false;
        });
    }
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $("#ContactDateFrom").datepicker({
            todayBtn: 1,
            autoclose: true,
        }).on('changeDate', function (selected) {
            console.log(selected.date);
            if (selected.date !== undefined) {
                var minDate = new Date(selected.date.valueOf());
                $('#ContactDateTo').datepicker('setStartDate', minDate);
            }
            else {
                $('#ContactDateTo').datepicker('setDate', null);
            }
        });

        $("#ContactDateTo").datepicker({
            autoclose: true
        }).on('changeDate', function (selected) {
            if (selected.date !== undefined) {
                var maxDate = new Date(selected.date.valueOf());
                $('#ContactDateFrom').datepicker('setEndDate', maxDate);
            }
            else {
                $('#ContactDateFrom').datepicker('setDate', null);
            }
        });

        $('#btnPrintResult').on("click", function () {
            LoadResultTable();
        });

        LoadResultTable();

    });
</script>
@model YandS.UI.Models.ToBeRegisterVM

<div style="padding-bottom:0px;padding-top:10px;" class="row SuspendedActive">
    <div class="col-sm-3 text-left"><h3><span id="MCTTTL"></span></h3></div>
    <div class="col-sm-6 text-center"><h3>SUSPENDED وقف مؤقت</h3></div>
    <div class="col-sm-3 text-right"><h3><span id="SLLTTL"></span></h3></div>
</div>
<div style="padding-bottom:0px;padding-top:10px;" class="row SuspendedActive">
    <div class="col-sm-12 text-center"><h3><span id="TTL"></span></h3></div>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="ContactDateFrom">FROM</label>
                @Html.EditorFor(model => model.ContactDateFrom, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="ContactPrintDateTo">TO</label>
                @Html.EditorFor(model => model.ContactDateTo, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>
        
        <div class="col-sm-3" style="padding-top:30px;">
            <button id="btnPrintResult" type="button" class="btn btn-success"><i class="fas fa-file"></i> SHOW</button>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div style="padding-bottom:0px;padding-top:10px;" class="col-sm-12">

            <table id="HtmlTable" class="table table-bordered dataTable dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:50px !important" class="all VMiddle text-center">SUSPENSION<br />END DATE<br />تاريخ<br />انتهاء الوقف</th>
                        <th style="width:50px !important" class="all VMiddle text-center">DAYS<br />REMAINING<br />الأيام<br />المتبقية</th>
                        <th style="width:50px !important" class="all VMiddle text-center">FILE NO.</th>
                        <th style="width:80px !important" class="VMiddle text-center">CLIENT NAME</th>
                        <th style="width:80px !important" class="VMiddle text-center">NAME</th>
                        <th style="width:70px !important" class="VMiddle text-center">COURT</th>
                        <th class="VMiddle text-center">ENFC NO.</th>
                        <th style="width:70px !important" class="VMiddle text-center">سبب الوقف<br />CAUSE OF<br />SUSPENSION</th>
                        <th style="width:70px !important" class="VMiddle text-center">قرار القاضي<br />JUDGE'S<br />DECISION</th>
                        <th style="width:40px !important" class="VMiddle text-center">D.C<br />UPDATE<br />مضى على<br />التحديث</th>
                        <th class="all VMiddle text-center">UPDATE</th>
                        <th style="width:20px !important" class="all"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
