@model YandS.UI.Models.ApplicationRole
<script type="text/javascript">
    $(document).ready(function () {
        //$('#AddUser').attr("disabled", true);
        $('#AddUser').click(function () {
            var _userId = $('#UserId').val();
            var _id = $('#Role_Id').val();

            if (_userId == '') {
                return false;
            }

            var _parameters = { userId: _userId, id: _id };
            $.ajax({
                url: "/Admin/AddUser2RoleReturnPartialView",
                type: "GET",
                data: _parameters,
                success: function (data, textStatus, jqXHR) {
                    $('#UsersTable').html(data);
                    $('#UserId').val("");
                }
            });
        });      
    });
</script>
@Html.HiddenFor(model => model.Id)
<fieldset style="padding: 1em; font: 100%; color: Black; border-color: Black; border-style: solid;
    border-width: thin; border-color: Silver; width: 650px">
    <legend style="width:auto; border-style:none"><strong>Add User To Role</strong></legend>
    <br />
    <label>User:  </label>
    @Html.DropDownList("UserId", null, string.Empty, new { style = "width:250px" })
    <input class="btn btn-default" type="button" id="AddUser" value="Add User To Role" />
</fieldset>
