@model YandS.UI.Models.PERMISSION
<script type="text/javascript">
    $(document).ready(function () {
        //Unbind the original image 'href' set by the controller...
        $('.deleteRole').attr('href', 'javascript://');
        $('.deleteRole').click(function () {
            $dialog.data('permissionId', $(this).attr('permissionId')).data('roleId', $(this).attr('roleId')).dialog("open");
        });

        var $dialog = $('<div/>')
        .html("Warning: This will remove the selected Role from this Permission.  Removing this Role may prevent users from accessing areas in the application.  Only remove this Role if you intend to restrict application access.<br/><br/>Do you wish to continue?")
		.dialog({
		    autoOpen: false,
		    resizable: false,
		    height: 250,
		    modal: true,
		    title: 'Remove Role',
		    buttons: [
                        {
                            text: "Continue",
                            id: "continuebtn",
                            click: function () {
                                var _permissionId = $(this).data('permissionId');
                                var _roleId = $(this).data('roleId');

                                var _parameters = { permissionId: _permissionId, id: _roleId };
                                $.ajax({
                                    url: "/Admin/DeleteRoleFromPermissionReturnPartialView",
                                    type: "GET",
                                    data: _parameters,
                                    success: function (data, textStatus, jqXHR) {
                                        $('#RolesTable').html(data);
                                    }
                                });
                                $(this).dialog('close');
                            }
                        },
                        {
                            text: "Cancel",
                            id: "cancelbtn",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }]
		});
    });
</script>
@{if (Model.ROLES.Count == 0)
{
    <h2><font color="red">No Associated Roles...</font></h2>
    <br />
}
else
{
    <table id="PermissionTable" style="width: 800px">
        <thead>
        <th style="width:40%">
            Role
        </th>
        <th>
            Role Description
        </th>
        <th>
            Action
        </th>
        </thead>
        @foreach (var role in Model.ROLES.OrderBy(u => u.RoleDescription))
        {
            <tr>
                <td>
                    @Html.ActionLink(role.Name, "RoleDetails", new { id = role.Id })
                </td>
                <td>
                    @role.RoleDescription
                </td>
                <td>
                    <center>
                        <a href="@Url.Action("DeletePermission", "Admin", new { id = role.Id, permissionId = Model.PermissionId })" class="deleteRole" permissionid=@Model.PermissionId roleid=@role.Id>
                            <img src="@Url.Content("~/Content/images/bin.png")" alt="Delete Permission" />
                        </a>
                    </center>
                </td>
            </tr>
        }
    </table>
    <br />
}}