<script type="text/javascript">
    var table;
    var dataForTable = "CLT-ENFORCEMENT";
    var SP_NAME = "CLIENT_ACCESS-ENFORCEMENT";
    $(document).ready(function () {
        if (typeof table != 'undefined')
            table.destroy();

        table = $('#HtmlTable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "pageLength": 25,
            dom: "<'row'<'col-sm-1'l><'col-sm-1 text-right'B><'col-sm-10 text-right'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excel',
                    title: 'ENFORCEMENT',
                    text: 'Print',
                    titleAttr: 'Export Excel',
                    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    exportOptions: { modifier: { page: 'all', search: 'none' } }
                }
            ],
            "lengthMenu": [[5, 10, 25, 50, 100,1000, 99999], [5, 10, 25, 50, 100,1000, 'ALL']],
            "ajax": {
                "url": GetIndexDataURL,
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.DataTableName = dataForTable;
                    d.LocationId = $('#hidLocationId').val();
                    d.ClientCode = $('#hidClientCode').val();
                    d.ProcedureName = SP_NAME;
                }
            },
            "columns": [
                { data: 'OfficeFileNo', name: 'OfficeFileNo', autoWidth: false },
                { data: 'Defendant', name: 'Defendant', autoWidth: false },
                { data: 'AccountContractNo', name: 'AccountContractNo', autoWidth: false, render: function (data, type, row) { return FormatAccount_ClientFileNo(row); } },
                { data: 'COURT', name: 'COURT', autoWidth: false },
                { data: 'CourtRefNo', name: 'CourtRefNo', autoWidth: false, render: function (data) { if (data) return data.split("^ ").join("<br/>"); else return ""; } },
                { data: 'CurrentEnforcementLevel', name: 'CurrentEnforcementLevel', autoWidth: false },
                { data: 'FileStatusName', name: 'FileStatusName', autoWidth: true },
                { data: 'DaysCounter', name: 'DaysCounter', autoWidth: false },
                {
                    data: 'CourtDecision', name: 'CourtDecision', autoWidth: true,
                    render: function (data) {
                        if (data) {
                            return "<div dir = 'auto' class='text-right text-wrap'>" + data.replace(/(\r\n|\n|\r)/g, "<br />"); +"</div>";
                        }
                        else
                            return "";
                    }
                },
                { data: 'ClientFileNo', name: 'ClientFileNo', autoWidth: false, "className": "Filter_A" }
            ],
            "order": [],
            "columnDefs": [
                { 'orderable': false, 'targets': "_all" },
                { "className": "dt-center", "targets": "_all" },
                {
                    render: function (data, type, full, meta) {
                        if (data)
                            return "<div class='text-wrap'>" + data + "</div>";
                        else
                            return "";
                    },
                    targets: [0, 1, 3, 4, 5, 6]
                }
            ],
             initComplete: function () {
                 console.log("DataTable Initiated !!");
                 ShowHideClientFileNo();

                $(".dataTables_filter input")
                    .unbind() // Unbind previous default bindings
                    .bind("keyup", function (e) { // Bind our desired behavior
                        //console.log(e.keyCode);
                        // this.value.length >= 3 || If the length is 3 or more characters, or the user pressed ENTER, search
                        if (e.keyCode == 13) {
                            // Call the API search function
                            table.search(this.value).draw();
                        }
                        // Ensure we clear the search if they backspace far enough
                        if (this.value == "") {
                            table.search("").draw();
                        }
                        return;
                    });
            }
        });
    });
</script>
<div style="padding-bottom:0px;padding-top:10px;" class="row clientEnforcementActive">
    <div class="col-sm-3 text-left text-white"><h3><span id="MCTTTL"></span></h3></div>
    <div class="col-sm-6 text-center"><h3>ENFORCEMENT</h3></div>
    <div class="col-sm-3 text-right text-white"><h3><span id="SLLTTL"></span></h3></div>
</div>
<div style="padding-bottom:0px;padding-top:10px;" class="row clientEnforcementActive">
    <div class="col-sm-12 text-center"><h3><span id="TTL"></span></h3></div>
</div>
<div class="row">
    <div style="padding-bottom:0px;padding-top:10px;" class="col-sm-12">

        <table id="HtmlTable" class="table table-bordered table-striped dataTable dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th style="width:35px !important;" class="all VMiddle text-center">FILE<br />NO.</th>
                    <th style="width:250px !important;" class="VMiddle text-center">NAME</th>
                    <th style="width:120px !important;" class="VMiddle text-center">CLIENT REF</th>
                    <th style="width:80px !important;" class="VMiddle text-center">COURT</th>
                    <th style="width:100px !important;" class="VMiddle text-center">ENFORCEMENT NO</th>
                    <th style="width:100px !important;" class="VMiddle text-center">STAGE</th>
                    <th style="width:150px !important" class="VMiddle text-center">FILE STATUS</th>
                    <th style="width:40px !important;" class="VMiddle text-center">D.C<br />UPDATE</th>
                    <th class="VMiddle text-center">UPDATE</th>
                    <th style="width:100px !important;" class="VMiddle text-center">CLIENT FILE NO</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
