<script type="text/javascript">
    var table;
    var dataForTable = "CLT-UNPAID_INVOICE";
    var SP_NAME = "CLIENT_ACCESS-UNPAID_INVOICE";
    $(document).ready(function () {
        if (typeof table != 'undefined')
            table.destroy();

        table = $('#HtmlTable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "pageLength": 99999,
            dom: "<'row'<'col-sm-1'l><'col-sm-1 text-right'B><'col-sm-10 text-right'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excel',
                    title: 'UNPAID INVOICE',
                    text: 'Print',
                    titleAttr: 'Export Excel',
                    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    exportOptions: { modifier: { page: 'all', search: 'none' } }
                }
            ],
            "lengthMenu": [[5, 10, 25, 50, 100, 99999], [5, 10, 25, 50, 100, 'ALL']],
            "ajax": {
                "url": GetIndexDataURL,
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.DataTableName = dataForTable;
                    d.LocationId = $('#hidLocationId').val();
                    d.ClientCode = $('#hidClientCode').val();
                    d.ProcedureName = SP_NAME;
                }
            },
            "columns": [
                { data: 'OfficeFileNo', name: 'OfficeFileNo', autoWidth: true },
                { data: 'Defendant', name: 'Defendant', autoWidth: true },
                { data: 'AccountContractNo', name: 'AccountContractNo', autoWidth: false, render: function (data, type, row) { return FormatAccount_ClientFileNo(row); } },
                { data: 'ClientFileNo', name: 'ClientFileNo', autoWidth: true, "className": "Filter_A" },
                //{ data: 'CaseLevelName', name: 'CaseLevelName', autoWidth: true },
                {
                    data: 'InvoiceDate', name: 'InvoiceDate', autoWidth: true,
                    render: function (data) {
                        if (data)
                            return moment(data).format('DD/MM/YYYY');
                        else
                            return "";
                    }
                },
                { data: 'DaysCounter', name: 'DaysCounter', autoWidth: true },
                { data: 'InvoiceNumber', name: 'InvoiceNumber', autoWidth: true },
                { data: 'InvoiceAmount', name: 'InvoiceAmount', autoWidth: true }
            ],
            "order": [],
            "columnDefs": [
                { 'orderable': false, 'targets': '_all' },
                { "className": "dt-center", "targets": "_all" },
                {
                    render: function (data, type, full, meta) {
                        if (data)
                            return "<div class='text-wrap'>" + data + "</div>";
                        else
                            return "";
                    },
                    targets: [0, 1, 3]
                }
            ],
            initComplete: function () {
                console.log("DataTable Initiated !!");
                ShowHideClientFileNo();

                $(".dataTables_filter input")
                    .unbind() // Unbind previous default bindings
                    .bind("keyup", function (e) { // Bind our desired behavior
                        //console.log(e.keyCode);
                        // this.value.length >= 3 || If the length is 3 or more characters, or the user pressed ENTER, search
                        if (e.keyCode == 13) {
                            // Call the API search function
                            table.search(this.value).draw();
                        }
                        // Ensure we clear the search if they backspace far enough
                        if (this.value == "") {
                            table.search("").draw();
                        }
                        return;
                    });
            }
        });
    });
</script>
<div style="padding-bottom:0px;padding-top:10px;" class="row clientUnpaidInvoiceActive">
    <div class="col-sm-3 text-left"><h3><span id="MCTTTL"></span></h3></div>
    <div class="col-sm-6 text-center"><h3>UNPAID INVOICE</h3></div>
    <div class="col-sm-3 text-right"><h3><span id="SLLTTL"></span></h3></div>
</div>
<div style="padding-bottom:0px;padding-top:10px;" class="row clientUnpaidInvoiceActive">
    <div class="col-sm-12 text-center"><h3><span id="TTL"></span></h3></div>
</div>
<div class="row">
    <div style="padding-bottom:0px;padding-top:10px;" class="col-sm-12">

        <table id="HtmlTable" class="table table-bordered table-striped dataTable dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th style="width:30px !important" class="all VMiddle text-center">FILE<br />NO.</th>
                    <th style="width:350px !important" class="VMiddle text-center">NAME</th>
                    <th style="width:150px !important;" class="VMiddle text-center">A/C NO<br /><span class="emphasized">CLIENT FILE NO</span></th>
                    <th style="width:200px !important" class="VMiddle text-center">CLIENT FILE NO</th>
                    @*<th style="width:200px !important" class="VMiddle text-center">CASE LEVEL</th>*@
                    <th style="width:100px !important" class="VMiddle text-center">INVOICE DATE</th>
                    <th style="width:30px !important" class="all VMiddle text-center">D.C<br />NO.</th>
                    <th style="width:150px !important" class="VMiddle text-center">INVOICE NUMBER</th>
                    <th style="width:150px !important" class="VMiddle text-center">INVOICE AMOUNT</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
