<script type="text/javascript">
    var table;
    var dataForTable = "TAX_VAT-LawyerFeeVAT";
    function LoadResultTable() {
        if (typeof table != 'undefined')
            table.destroy();

        table = $('#HtmlTable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "pageLength": 25,
            dom: "<'row'<'col-sm-1'l><'col-sm-1 text-right'B><'col-sm-10 text-right'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    extend: 'excel',
                    title: 'LAWYER FEE VAT',
                    text: 'Print',
                    titleAttr: 'Export Excel',
                    "oSelectorOpts": { filter: 'applied', order: 'current' },
                    exportOptions: { modifier: { page: 'all', search: 'none' } }
                }
            ],
            "lengthMenu": [[5, 10, 25, 50, 100, 99999], [5, 10, 25, 50, 100, 'ALL']],
            "ajax": {
                "url": GetIndexDataURL,
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.DataTableName = dataForTable;
                    d.ProcedureName = dataForTable;
                    d.DateFrom = $("#ContactDateFrom").val();
                    d.DateTo = $("#ContactDateTo").val();
                }
            },
            "columns": [
                { data: 'InvoiceDate', name: 'InvoiceDate', autoWidth: true },
                { data: 'InvoiceNumber', name: 'InvoiceNumber', autoWidth: true },
                { data: 'ClientName', name: 'ClientName', autoWidth: true },
                { data: 'FeeTypeName', name: 'FeeTypeName', autoWidth: true },
                { data: 'FeeAmount', name: 'FeeAmount', autoWidth: true },
                { data: 'VAT_AMOUNT', name: 'VAT_AMOUNT', autoWidth: true, render: function (data, type, row) { return data.replace(".000", ""); } },
                { data: null, name: null, autoWidth: false, render: function (data, type, row) { return SumTwoColumn(row, "INVOICE"); } },
                { data: 'InvoiceStatusName', name: 'InvoiceStatusName', autoWidth: true }
            ],
            "order": [],
            "columnDefs": [
                { 'orderable': false, 'targets': '_all' },
                { "className": "dt-center", "targets": "_all" },
                {
                    render: function (data) {
                        if (data)
                            return moment(data).format('DD/MM/YYYY');
                        else
                            return "";
                    },
                    targets: 0
                },
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap'>" + data + "</div>";
                    },
                    targets: [1-6]
                }
            ],
            "createdRow": function (row, data, dataIndex) {
                var rowColor = "";
                //$(row).addClass(rowColor);
            },
            initComplete: function () {
                console.log("DataTable Initiated !!");
                var info = table.page.info();
                var TOTAL_LAWYER_FEE = table.ajax.json().TOTAL_LAWYER_FEE;
                var TOTAL_LF_VAT = table.ajax.json().TOTAL_LF_VAT;
                var TOTAL_VAT = table.ajax.json().TOTAL_VAT;
                $('#TOTAL_LAWYER_FEE').text(TOTAL_LAWYER_FEE);
                $('#TOTAL_LF_VAT').text(TOTAL_LF_VAT);
                $('#TOTAL_VAT').text(TOTAL_VAT);

                $(".dataTables_filter input")
                    .unbind() // Unbind previous default bindings
                    .bind("keyup", function (e) { // Bind our desired behavior
                        //console.log(e.keyCode);
                        // this.value.length >= 3 || If the length is 3 or more characters, or the user pressed ENTER, search
                        if (e.keyCode == 13) {
                            // Call the API search function
                            table.search(this.value).draw();
                        }
                        // Ensure we clear the search if they backspace far enough
                        if (this.value == "") {
                            table.search("").draw();
                        }
                        return;
                    });
            }
        });
    }

    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            orientation: "bottom auto"
        });

        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $("#ContactDateFrom").datepicker({
            todayBtn: 1,
            autoclose: true,
        }).on('changeDate', function (selected) {
            console.log(selected.date);
            if (selected.date !== undefined) {
                var minDate = new Date(selected.date.valueOf());
                $('#ContactDateTo').datepicker('setStartDate', minDate);
            }
            else {
                $('#ContactDateTo').datepicker('setDate', null);
            }
        });

        $("#ContactDateTo").datepicker({
            autoclose: true
        }).on('changeDate', function (selected) {
            if (selected.date !== undefined) {
                var maxDate = new Date(selected.date.valueOf());
                $('#ContactDateFrom').datepicker('setEndDate', maxDate);
            }
            else {
                $('#ContactDateFrom').datepicker('setDate', null);
            }
        });

        $('#btnPrintResult').on("click", function () {
            LoadResultTable();
        });

        LoadResultTable();

    });
</script>
@model YandS.UI.Models.ToBeRegisterVM

<div style="padding-bottom:0px;padding-top:10px;" class="row SuspendedActive">
    <div class="col-sm-3 text-left"><h3><span id="MCTTTL"></span></h3></div>
    <div class="col-sm-6 text-center"><h3>LAWYER FEE VAT</h3></div>
    <div class="col-sm-3 text-right"><h3><span id="SLLTTL"></span></h3></div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label for="ContactDateFrom">FROM</label>
                @Html.EditorFor(model => model.ContactDateFrom, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="ContactPrintDateTo">TO</label>
                @Html.EditorFor(model => model.ContactDateTo, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>

        <div class="col-sm-1" style="padding-top:30px;">
            <button id="btnPrintResult" type="button" class="btn btn-success"><i class="fas fa-file"></i> SHOW</button>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="TOTAL_LAWYER_FEE">LAWYER FEES</label>
                <h3><span class="form-control" id="TOTAL_LAWYER_FEE"></span></h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="TOTAL_VAT">VAT</label>
                <h3><span class="form-control" id="TOTAL_VAT"></span></h3>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="TOTAL_LF_VAT">TOTAL</label>
                <h3><span class="form-control" id="TOTAL_LF_VAT"></span></h3>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div style="padding-bottom:0px;padding-top:10px;" class="col-sm-12">

            <table id="HtmlTable" class="table table-bordered dataTable dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th class="all VMiddle text-center">INVOICE DATE</th>
                        <th class="all VMiddle text-center">INVOICE NUMBER</th>
                        <th class="all VMiddle text-center">CLIENT NAME</th>
                        <th class="all VMiddle text-center">DESCRIPTION</th>
                        <th class="all VMiddle text-center">AMOUNT</th>
                        <th class="all VMiddle text-center">VAT AMT</th>
                        <th class="all VMiddle text-center">TOTAL</th>
                        <th class="all VMiddle text-center">INVOICE STATUS</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
