@model YandS.UI.Models.CaseInvoice
@{
    ViewBag.Title = "Y & S Associates - Print Case Invoice";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Y & S Associates - Print Case Invoice</title>
</head>
<body>
    @if (Model.CourtType == "8")
    {
        @Html.Partial("_CaseInvoiceViewFormatB", Model)

    }
    else
    {
        @Html.Partial("_CaseInvoiceViewFormatA", Model)

    }

</body>
</html>
